<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
    <title>Restaurant Apps Starter Project</title>
    <link href="favico.png" rel="icon">
    <link rel="manifest" href="manifest.json">
</head>

<body>
<!-- skip to content button -->
<a class="skip-content" href="#content">Menuju Ke Konten</a>
<header class="app__header">
    <p class="app__title">Cobalt Restaurant</p>
    <button id="hamburger">
        <svg height="24" style="fill: #000000" viewBox="0 0 172 172" width="24" x="0px" xmlns="http://www.w3.org/2000/svg"
             y="0px">
            <g fill="none" fill-rule="nonzero" font-family="none" font-size="none" font-weight="none"
               stroke="none"
               stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
               stroke-width="1" style="mix-blend-mode: normal" text-anchor="none">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#542e71">
                    <path
                            d="M14.33333,35.83333v14.33333h143.33333v-14.33333zM14.33333,78.83333v14.33333h143.33333v-14.33333zM14.33333,121.83333v14.33333h143.33333v-14.33333z">
                    </path>
                </g>
            </g>
        </svg>
    </button>
</header>
<nav class="drawer" id="drawer">
    <div class="drawer__title">
        <p>Cobalt Restaurant</p>
    </div>
    <div class="drawer__list">
        <ul>
            <li><a href="#/home" id="nav-item">Home</a></li>
            <li><a href="#/favorite" id="nav-item">Favorite</a></li>
            <li>
                <a href="https://www.linkedin.com/in/fiqri-khoirul-muttaqin-2a8558197/" id="nav-item">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<main class="main-content" id="main-content">
</main>
<footer>Copyright © 2020 - Cobalt Restaurant</footer>
</body>

</html>
