/**
* purple: #542e71
* magenta: #fb3640
* yellow: #fdca40
* light purple: #a799b7
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --primary-color: #542e71;
    --secondary-color: #fb3640;
    --accent-color: #fdca40;
    --alternative-color: #a799b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.skip-content {
    top: -100px;
    left: 0;
    position: absolute;
    background: var(--alternative-color);
    color: white;
    padding: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.skip-content:focus {
    top: 0px;
    outline: 2px dashed var(--accent-color);
}

.card {
    background: white;
    box-shadow: 1px 1px 10px 0.5px #cccc;
    height: auto;
}

.card__header img {
    width: 100%;
}

.card__header p {
    position: relative;
    top: -3rem;
    background: white;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: -2rem;
    color: var(--primary-color);
    font-weight: 700;
}

.card__content {
    padding: 1rem;
}

.card__content p a {
    color: var(--secondary-color);
    text-decoration: none;
}

.card__content__rating {
    display: flex;
    align-items: center;
}

.card__content__rating svg {
    margin-right: 5px;
}

.card__content__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}

.card__content__detail > p {
    font-weight: bold;
    color: var(--primary-color);
}

.content__data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 1rem;
}


footer {
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
    background: var(--accent-color);
    width: 100%;
    box-shadow: 5px 5px 10px #333333;
}

.hero__wrapper img {
    width: 100%;
}

.hero__text {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.hero__text p {
    font-size: 2em;
    font-weight: 700;
    position: relative;
    top: -5rem;
    margin-left: 1rem;
}

.hero__rating {
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
}

.hero__rating p {
    font-weight: 700;
    position: relative;
    bottom: 3rem;
    margin-left: 1rem;
}

#content {
    margin: 1rem;
}

.content__header {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    margin: 1rem 1rem 1.5rem 1rem;
}

.drawer__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger {
    min-height: 44px;
    min-width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.read-more {
    min-height: 44px;
    min-width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__container {
    display: flex;
    margin: 0.5rem 0;
}

.category__container > p {
    margin-right: 1rem;
}

.category__item {
    background: var(--accent-color);
    color: #542e71;
    min-width: 80px;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid #d29a00;
}

.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 5s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.accordion label {
    display: block;
}

.accordion {
    margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
}

.accordion label {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #e8e8e8;
}

.accordion label:hover,
.accordion label:focus {
    background: #d8d8d8;
}

.accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
}

.menu__title {
    color: var(--primary-color);
    text-align: center;
}

@media screen and (max-width: 500px) {
    .skip-content {
        top: -100px;
        left: 0;
        position: absolute;
        background: var(--alternative-color);
        color: white;
        padding: 1rem;
        font-weight: 600;
        text-decoration: none;
        margin-top: 4rem;
    }

    .skip-content:focus {
        top: 0px;
        outline: 2px dashed var(--accent-color);
    }

    .app__header {
        background: white;
        box-shadow: 0px 0px 10px 0.5px rgb(216, 216, 216);
        padding: 1rem;
        z-index: 100;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
    }

    .app__title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        color: var(--primary-color);
    }

    .drawer {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        transform: translate(-1000px, 0);
        transition: transform 0.3s ease-in-out;
        background-color: var(--primary-color);
        z-index: 100;
    }

    .drawer.open {
        transform: translate(0, 0);
        visibility: visible;
    }

    .drawer__title {
        display: none;
    }

    .drawer__list ul {
        margin-top: 1rem;
    }

    .drawer__list li {
        list-style: none;
        text-align: center;
        margin-bottom: 1rem;
    }

    .drawer__list a {
        text-align: center;
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 600;
        display: block;
        min-height: 44px;
        min-width: 44px;
    }

    .main-content {
        margin-top: 4rem;
    }

    .content__data {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .skip-content {
        top: -150px;
        left: 0;
        position: absolute;
        background: var(--alternative-color);
        color: white;
        padding: 1rem;
        font-weight: 600;
        text-decoration: none;
        margin-top: 4rem;
    }

    .app__header {
        background: white;
        box-shadow: 0px 0px 10px 0.5px rgb(216, 216, 216);
        padding: 1rem;
        z-index: 100;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
    }

    .app__title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        color: var(--primary-color);
    }

    .skip-content:focus {
        top: 0px;
        outline: 2px dashed var(--accent-color);
    }

    .content__data {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }

    .drawer {
        width: 100%;
        height: 100%;
        position: fixed;
        /* top: 80px; */
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        transform: translate(-1000px, 0);
        transition: transform 0.3s ease-in-out;
        background-color: var(--primary-color);
        z-index: 100;
    }

    .drawer.open {
        transform: translate(0, 0);
        visibility: visible;
    }

    .drawer__title {
        display: none;
    }

    .drawer__list ul {
        margin-top: 1rem;
    }

    .drawer__list li {
        list-style: none;
        text-align: center;
        margin-bottom: 1rem;
    }

    .drawer__list a {
        text-align: center;
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 600;
        display: block;
        min-height: 44px;
        min-width: 44px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .skip-content {
        top: -150px;
        left: 0;
        position: absolute;
        background: var(--alternative-color);
        color: white;
        padding: 1rem;
        font-weight: 600;
        text-decoration: none;
        margin-top: 4rem;
    }

    .app__header {
        background: white;
        box-shadow: 0px 0px 10px 0.5px rgb(216, 216, 216);
        padding: 1rem;
        z-index: 100;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
    }

    .app__title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 1em;
        color: var(--primary-color);
    }

    .skip-content:focus {
        top: 0px;
        outline: 2px dashed var(--accent-color);
    }

    .content__data {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
    }

    .drawer {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        visibility: hidden;
        align-items: center;
        transform: translate(-1000px, 0);
        transition: transform 0.3s ease-in-out;
        background-color: var(--primary-color);
        z-index: 100;
    }

    .drawer.open {
        transform: translate(0, 0);
        visibility: visible;
    }

    .drawer__title {
        display: none;
    }

    .drawer__list ul {
        margin-top: 1rem;
    }

    .drawer__list li {
        list-style: none;
        text-align: center;
        margin-bottom: 1rem;
    }

    .drawer__list a {
        text-align: center;
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 600;
        justify-content: center;
        align-items: center;
        min-height: 44px;
        min-width: 44px;
    }
}

@media screen and (min-width: 1000px) {
    .content__data {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
    }

    .hero__text {
        font-size: 4em;
        font-weight: 700;
        position: relative;
        top: -15rem;
        margin-left: 5rem;
    }

    .app__header {
        display: none;
    }

    .drawer {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 0 20%;
    }

    .drawer__title {
        font-weight: 700;
        color: var(--primary-color);
    }

    .drawer__list ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drawer__list ul li {
        margin-left: 1rem;
    }

    .drawer__list ul li a {
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 44px;
        min-width: 44px;
    }
}
